header{
    background-color: rgb(70, 130, 180);
    text-align : center;
    color:rgb(0, 255, 153);
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
    border: 5px solid grey;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 50;
}


main{
  border: 5px solid;
  width: 100%;
  border-color: grey;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 120px
  
}


body {
    background-color: rgb(72, 183, 230);
    border: 5px solid grey;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
}

.parent{
    background-color: rgb(70, 130, 180);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border: 5px ridge grey;
    width: 60%;
    max-width: 800px;
    box-sizing: border-box;
    overflow: hidden;
}

a {
  text-decoration: none ;
  cursor: default ;
}

.footer{
    display: flex;
    justify-content: center;
    text-align: center;
}


.a1{
  border-bottom: 1px solid black;
  gap: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 90px;   
  padding-right: 40px;   
  height: 100px;
  font-size: 30px;
  text-decoration: none;
  color: brown;
  transition: 0.3s ease;
  /* cursor: default; */
}
.a1:hover{
    background-color: rgb(110, 150, 250);
    transform: scale(1.05);
}


.a2{
  border-bottom: 1px solid black;
  gap: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 110px;   
  padding-right: 40px;  
  height: 100px;
  font-size: 30px;
  text-decoration: none;
  color: brown;
  transition: 0.3s ease;
  cursor: default;
}
.a2:hover{
    background-color: rgb(110, 150, 250);
    transform: scale(1.05);
}


.a3{
  border-bottom: 1px solid black;
  gap: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 75px; 
  padding-right: 40px;       
  height: 100px;
  font-size: 30px;
  text-decoration: none;
  transition: 0.3s ease;
  cursor: default;
}
.a3:hover{
    background-color: rgb(110, 150, 250);
    transform: scale(1.05);
}


.a4{
  border-bottom: 1px solid black;
  gap: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;  
  padding-right: 40px;      
  height: 100px;
  font-size: 30px;
  text-decoration: none;
  transition: 0.3s ease;
  cursor: default;
}
.a4:hover{
    background-color: rgb(110, 150, 250);
    transform: scale(1.05);
}


.a5{
  border-bottom: 1px solid black;
  gap: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 85px;    
  padding-right: 40px;    
  height: 100px;
  font-size: 30px;
  text-decoration: none;
  transition: 0.3s ease;
  cursor: default;
}
.a5:hover{
    background-color: rgb(110, 150, 250);
    transform: scale(1.05);
}


.a6{
  border-bottom: 1px solid black;
  gap: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 100px;      
  padding-right: 40px;  
  height: 100px;
  font-size: 30px;
  text-decoration: none;
  transition: 0.3s ease;
  cursor: default;
}
.a6:hover{
    background-color: rgb(110, 150, 250);
    transform: scale(1.05);
}


.a7{
  border-bottom: 1px solid black;
  gap: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 60px;      
  padding-right: 40px;  
  height: 100px;
  font-size: 30px;
  text-decoration: none;
  transition: 0.3s ease;
  cursor: default;
}
.a7:hover{
    background-color: rgb(110, 150, 250);
    transform: scale(1.05);
}

.x {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid grey;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.x:hover{
    background-color: rgb(110, 150, 250);
    transform: scale(1.05);
}
